<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    <img  src="C:/Users/Dimitra/IdeaProjects/pockito-project/angularclient/src/0c44e92d7.jpg">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark">
        <div class="card-body">
          <div class="text-center list-inline">
            <input type="text" #originalUrl>
            <button type="submit" class="btn btn-info" (click)="onShort(originalUrl.value)" text-align="right">Short it!</button>
          </div>
          <div *ngIf = "isShorted" class="text-center list-inline ">
            <input type="text">
            <button type="submit" class="btn btn-info" (click)="onCopy()" text-align="right">Copy it!</button>
         </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

