<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    <img  src="assets/favicon.png">
</div>
<div class="container">

  <div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onShort()" #urlForm="ngForm">
        <div class=" input-group form-group text-center list-inline">
          <input type="text" [(ngModel)]="urlEntity.originalUrl"
                 class="form-control" name="originalUrl" id="originalUrl" placeholder="Enter your looong URL here."
                 required #originalUrl="ngModel">
          <span>&nbsp;</span>
          <span class="input-group-btn">
          <button type="submit" [disabled]="!urlForm.form.valid" class="btn btn-info" >Shorten</button>
          </span>
        </div>
        <div [hidden]="!originalUrl.pristine" class="alert alert-danger">Name is required</div>
        <div *ngIf = "isShorted" class="input-group text-center list-inline ">
          <input type="text" [(ngModel)]="urlEntity.shortId"
                 class="form-control" name="shortId" id="shortId"
                 required #shortId="ngModel">
          <span>&nbsp;</span>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-info" (click)="onCopy()" text-align="right">Copy</button>
          </span>
        </div>
      </form>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="card bg-dark">-->
<!--        <div class="card-body">-->
<!--          <div class="text-center list-inline">-->
<!--            <input type="text" #originalUrl>-->
<!--            <button type="submit" class="btn btn-info" (click)="onShort()" text-align="right">Shorten</button>-->
<!--          </div>-->
<!--          <div *ngIf = "isShorted" class="text-center list-inline ">-->
<!--            <input type="text">-->
<!--            <button type="submit" class="btn btn-info" (click)="onCopy()" text-align="right">Copy</button>-->
<!--         </div>-->
<!--      </div>-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

</div>
